body {
    background-color: black;
    font-family: "Martian Mono", monospace;
    color: white;
    text-align: justify;
}

p{
    font-family: "Martian Mono", monospace;
    color: white;
    text-align: justify;
}
h1 {
    font-family: "Martian Mono", monospace;
    color: #DB2422
}

h2 {
    font-family: "Martian Mono", monospace;
    color: #DB2422
}

h3 {
    font-family: "Martian Mono", monospace;
    color: #DB2422
}
a:link {
    color: #dbd5d5;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #DB2422;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #DB2422;
    background-color: transparent;
}
a:active {
    color: #DB2422;
    background-color: transparent;
}
.div-vazia{
    height: 30px;
}
.img-centro {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.container{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
table {
        width: 100%;
        border-collapse: collapse;
        font-size: 3dvh
}
th, td {
        padding: 10px;
        text-align: left;
        border: none; 
        border-bottom: 1px solid white; 
}